body{
background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
height: 500px;
left: 50%;
width: 1250px;
-ms-transform: translateX(-50%);
transform: translateX(-50%);
position: relative;
border: 3px solid teal;
}
tr,td{
    border:1px;
    border-style: solid;
}
td{
    height: 50px;
    width: 50px;
    background-color: white;
}
button{
  border-radius: 12px;
}
.center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
